# Ignore frontend environment files
frontend/.env

# Ignore backend environment files
/backend/.env

# Ignore the "node_modules" directory in both frontend and backend
/frontend/node_modules
/backend/node_modules
/backend/dist

